container_commands:
  01mount:
    command: "aws ec2 attach-volume --volume-id vol-0cae77b1ff743c0e7 --instance-id $(curl -s http://169.254.169.254/latest/meta-data/instance-id) --device /dev/sdh --region eu-central-1"
    ignoreErrors: true
  02wait:
    command: "sleep 10"
  03mkdir:
    command: "mkdir /data"
    test: "[ ! -d /data ]"
  04mount:
    command: "mount /dev/sdh /data"
    test: "! mountpoint -q /data"